name: go test

permissions:
  pull-requests: read
  contents: read

on:
  push:
    branches:
      - master

  pull_request:

jobs:
  test:
    uses: go-openapi/ci-workflows/.github/workflows/go-test.yml@88b44bdef227a70b62e1d477e4301ded96a1e866 # v0.1.0
    secrets: inherit
